.content-wrapper{
    background-color: white;
    width:1500px;
    margin:0 auto;
 
}
.post-summary-card:after {
    content: "";
    display: table;
    table-layout: fixed;
    clear: both;
}

.layout {
    list-style: none;
    padding: 0;
    margin: 0 0 0 -24px;
}
.layout__item {
    display: inline-block;
    padding-left: 24px;
    vertical-align: top;
    width: 100%;
    box-sizing: border-box;
}
 #footer-menu > li  {
    list-style-type: none;
    float: left;
    width: 25%;
    line-height: 1.4;
}

 #url {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    color: #1bb580;
    margin-bottom: 10px;
    text-decoration: none;
    cursor: default;
    display: inline-block;
}

.sub-menu{
    padding-left: 0;
    margin-left: 0;
    margin-bottom: 0;
   
  
}

.sub-menu li a {
    transition: color 250ms ease;
    color: #9c9ea1;
    text-decoration: none;
}
.sub-menu li a:hover {
    color:black
}
.sub-menu li {
    list-style-type: none;
    margin-top: 10px;
    display: list-item;
    text-align: -webkit-match-parent;
}

#lefter {
    float: left;
    padding-left: 24px;
    vertical-align: top;
    box-sizing: border-box;
    opacity: 0.5;
    transition: opacity 250ms ease;
}
#lefter:hover {
    opacity: 1;
}

.press-block a img {
    width:160px
}