<div class="containers">

    <h4>Let’s conquer those {{RouterName.name}} loans.</h4>
    <p>Answer a few questions to get your rate and savings without affecting your credit score.</p>
    <span *ngIf="turnOnPipe">{{loanAmount | pipeRate:Amount:Ccy:Year:Penalty}}</span>
    <form [formGroup]="getRate" (ngSubmit)="onSubmit()">
Amount : <input type="text" class="form-control" formControlName="amount">
Ccy : <select class="form-control" formControlName="ccy">
<option value="GEL">GEL</option>
<option value="USD">USD</option>
</select>
Year : <select class="form-control" formControlName="year">
  <option value="2">2</option>
  <option value="4">4</option>
  <option value="5">5</option>
</select>
Penalty : <input type="text" class="form-control" formControlName="penalty" >
<input type="submit" value="Get Rate" class="bt btn-primary">

</form>


</div>

