body {
    background-color: pink;
}

.containers {
    width: auto;
    display: block;
}

.containers-router {
    min-height: 200px;
}

.loading {
    background-color: #353535d5;
    width: 100%;
    top: 0px;
    height: 100%;
    position: fixed;
    z-index: 1000;
    margin: 0 auto;
    display: none
}

.loading img {
    margin-left: 50%;
    margin-top: 400px;
    width: 50px;
    border-radius: 50px;
    background-color: white
}

.showLoading {
    display: block
}