.signin{
    border-radius: 2px;
    transition: all .25s;
float: right;
    height: 32px;
    padding: 0 25px;
 background:none;
    color: #fff;
    text-align: center!important;
    cursor: pointer;
    text-decoration: none;
    margin-left:10px;
    border:1px solid white
}
.signin:hover{
    border:1px solid #1bb580
}

#signinmoadl{
    position: absolute;
    border: 1px solid rgb(202, 191, 191);
    width:300px;
    height:360px;
    background-color: white;
    margin-top:40px;
    margin-left:80px;
    border-radius:8px
}
.row{
    margin-top:-10px;
}
.row div{
    text-align: center
}

form {
    width:240px;
    margin-left:20px
}

i {

    margin-left:270px;
width: 10px;
    font-size: 20px;
    color:rgb(75, 72, 72);
    cursor: pointer !important;
}

.hide {
    display:none
}

.btn-primary{
    margin-top:10px
}

.setColors{
    color:rgb(11, 21, 48);
    background-color: rgba(209, 211, 198, 0.822)
}

.loading{
    background-color: #353535d5;
    width: 100%;
    top: 0px;
    height: 100%;
    position: fixed;
    z-index: 1000;
    margin: 0 auto;
    display: none
}

.loading img {
    margin:400px 500px;
    width:100px;
    border-radius:50px;
    background-color: white
}
.showLoading {
    display: block
}
.signOut{
 
    text-decoration: underline;
    color:red;
    text-align: center;
    margin-left:10%;
    margin-top:10%;
    display: none
}
.SignOutActivates{
    text-decoration: underline;
    color:red;
    text-align: center;
    margin-left:10%;
    margin-top:10%;
    display: block
}