.containers{
    height:800px;
margin: 0 auto;
    width:1500px;
 background-color: rgb(240, 235, 235);
margin-top:20px;
}

.form-control{
    width:350px;
    padding:12px 12px;
    height:50px;
    
}

form {
 margin-left:570px
}

h4, p {
    text-align: center
}
.btn-primary {
    width:120px;
height:30px;
margin-top:12px
}