<div class="containers" *ngIf="applicationStatus; else signIn">

  <h4>Create {{LoanType.name}} Application  </h4>
 <form [formGroup]="createApp" (ngSubmit)="onSubmit()">
   Email : <input type="email" 
   class="form-control" 
   formControlName = 'email'
   >
    <p class="error" *ngIf="(email.dirty || email.touched) && email.errors?.invalidEmail">Unknown Email</p>

   Amount : <input type="text" class="form-control" formControlName = 'amount'>
<p class="error" *ngIf="(amount.dirty || amount.touched) && amount.invalid">Incorrect Amount</p>

Ccy : <select class="form-control" formControlName = 'ccy'>
<option>GEL</option>
<option>USD</option>
</select>
Year : <select class="form-control" formControlName = 'year'>
<option>2</option>
<option>4</option>
<option>5</option>
</select>
Payment Day : <select class="form-control" formControlName = 'paymentDay'>
  <option *ngFor="let x of numbers" value="{{x}}"> {{x}}</option>
  </select>
<input type="submit" 
value="Create App" 
class="btn btn-primary"
[disabled]="!createApp.valid">
</form>
</div>
<ng-template #signIn>
    <div class="containersSignIn">
      <h3>Please Sign In!</h3>
    </div>
  
</ng-template>