.containers {
    width: 1500px;
    height: 1090px;
    background: white;
    margin: 0 auto;
}

h3 {
    color: #4a5155;
    font-size: 28px;
    font-weight: 700;
    line-height: 1.2em;
    letter-spacing: -.44px;
}

h4 {
    color: #1bb580;
    text-align: center;
    padding-bottom: 40px;
    font-size: 16px;
}

p {
    font-family: "Circular", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 15px;
    line-height: 1.6;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    color: #8a8d90;
}

i {
    margin-left: 10px;
    margin-top: 0px;
    font-size: 25px;
    position: absolute
}

.read_more {
    color: #1bb580;
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
    text-transform: uppercase;
}

ul {
    list-style: none;
}

ul li {
    padding: 12px 14px
}

ul li span {
    color: #1bb580;
    padding: 4px
}

#center_img div img {
    margin-left: 90px
}

.row div {
    padding-top: 20px
}