<div class="containers" style="margin-top:20px" [@pageOpacity]="pageNimation">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <img src="assets/download.jpg" />
                <h5>Should You Hire a CPA or DIY This Tax Season?</h5>
            </div>
            <div class="col-sm-4">
                <img src="assets/download (5).jpg" />
                <h5>7 Ways to Celebrate Your Freedom from Student Loan Debt</h5>
            </div>
            <div class="col-sm-4">
                <img src="assets/download (6).jpg" />
                <h5>5 Benefits of Choosing a Community College Over a University</h5>
            </div>
        </div>
    </div>
    <div class="container" style="margin-top:50px">
        <h2 style="    background: #3A3A3A;
  color: #fff;
  font-size: 24px;
  display: inline-block;
  padding: 2px 14px;
  margin-bottom: 20px;
  font-weight: 400;">Recent</h2>
        <div class="row">
            <div class="col-sm-4">
                <img src="assets/download (1).jpg" />
                <h5>Should You Hire a CPA or DIY This Tax Season?</h5>
            </div>
            <div class="col-sm-4">
                <img src="assets/download (2).jpg" />
                <h5>7 Ways to Celebrate Your Freedom from Student Loan Debt</h5>
            </div>
            <div class="col-sm-4">
                <img src="assets/download (3).jpg" />
                <h5>5 Benefits of Choosing a Community College Over a University</h5>
            </div>
        </div>
    </div>
    <div class="container" style="margin-top:70px">
        <div class="row">
            <div class="col-sm-4">
                <h3>Sign up for our newsletter</h3>
            </div>
            <div class="col-sm-6">
                <input type="text" class="form-control">
            </div>
            <div class="xol-sm-3">
                <button style="    border-radius: 2px;
    transition: all 0.25s;
    box-sizing: border-box;
    height: 38px;
    padding: 0 25px;
    border: 1px solid rgba(0,0,0,0.15);
    color: #F9F9FA;
    background-color: #1bb580;
    text-align: center !important;">Subscribe</button>
            </div>
        </div>
    </div>
</div>