<div class="containers" 
[@pageOpacity]="pageNimation">
  <div class="row">
    <div class="col-sm-6">
      <img src="./assets/connorcarddebt.png" style="float: right;"/>

    </div>
    <div class="col-sm-4">
      <h3>We know credit card debt can creep up on you</h3>
      <p>That’s why we offer quick, money-saving credit card consolidation. With a personal loan from Earnest, you can sweep away high rates and swap them for a single, lower rate. It’s one of the simplest ways to put your financial house in order—apply in just a few minutes.

        </p>
        <a routerLink="../applications/CreditCard" class="read_more">APPLY NOW  <i class="fa fa-arrow-circle-right"></i></a>
    </div>
   
  </div>
  <h3 style="text-align: center;padding-top:15px">Radical repayment flexibility for your personal loan</h3>
  <h4 style="text-align: center;padding-top:15px">PAY OFF YOUR LOAN WITH OPTIONS CUSTOMIZED TO YOUR LIFE</h4>
  
  <div class="row">
      <div class="col-sm-6">
        <img src="./assets/personal.png" style="float: right;"/>
  
      </div>
      <div class="col-sm-4">
       <ul>
      <li>   <span class="fa fa-check"></span>Choose your preferred monthly payment </li>
        <li><span class="fa fa-check"></span>Increase your payment amount anytime </li>
         <li><span class="fa fa-check"></span>Make extra or early payments without fees  </li>
  <li><span class="fa fa-check"></span>No fees, hidden or otherwise</li>
       </ul>  </div>
     
    </div>
    <h3 style="text-align: center;margin-top:30px">An experience designed for savings and satisfaction at every step</h3>
<div class="container" style="margin-top:30px">
    <div class="row" id="center_img">
  <div class="col-sm-4">
    <img style="text-align:center" src= "assets/download (6).png">
    <h5 style="text-align:center">FAIR EVALUATION</h5>
    <p style="text-align:center">We analyze extra information (such as your education, spending habits, and career trajectory) to offer rates personalized to you.</p>
  </div>

  <div class="col-sm-4">
      <img src= "assets/download (7).png">
      <h5 style="text-align:center" >FAST DECISION & DEPOSIT</h5>
      <p style="text-align:center" >We promise a prompt response to your application. If you're approved, we’ll get the money to your bank account within two days.</p>
    </div>


    <div class="col-sm-4">
        <img src= "assets/download (8).png">
        <h5 style="text-align:center" >HUMAN SERVICE</h5>
        <p style="text-align:center" >You'll always reach a real human, whether you're seeking answers by email or phone.</p>
      </div>

    </div>
</div>
  </div>

